*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  /* background-color: #EAECCC; */
  height: 80vh;
  font-family:calibri;
  text-align: center;
}
.container{
  width: 80%;
  margin:100px auto 0px;
  text-align: center;

}
h1{
  letter-spacing: 2px;
  word-spacing: 2px;
  color: black;
  padding-bottom: 20px;
}
.name{
  padding: 0px;
}
.name h4{
  display: inline;
  font-size: large;
}
.name input{
  padding: 15px 50px;
  font-size: 18px;
  margin-right: 10px;
  /* border-radius: 20px; */
  border: solid 2px ;
  margin-bottom: 30px;
}
.btn{
  text-align: center;
  display: flex;
 justify-content: center;
}
.button
{
  cursor: pointer;
border: none;
  transition: .5s;
border-color: transparent;
background-size: 500px;
color: white;
  font-size: 16px;
  margin: 10px;
  display: block;
  text-align: center;
border-radius: 30px;
  padding: 15px 40px;
  background-color: #CD8D7A ;
}
/* .button:hover{
border: none;
background-image: linear-gradient(30deg,#2C3E50 50%, transparent 50%);
background-position: 100%;
border-radius: 30px;
background-color:#2C3E50;
color: white;
} */
.main_details{
  color: white;
  display: flex;
  justify-content: center;
}
.year{
  padding: 10px 20px;
  background-color:#76453B ;
  display: inline-block;
  border-radius: 10px;
  margin: 10px;
}